*.a
*.swp
src/bin/pocsqlite
*.gcda
*.gcno
*.html
*.la
*.lo
*.log
*.o
*.so*
*.tar*
*.zip
*~
.deps
/aclocal.m4
/autom4te.cache
/autom4te.cache/
/compile
/config/
/configure
/depcomp
/install-sh
/missing
/stamp-h1
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
m4
missing
stamp-h1
